doctrine:
    dbal:

        driver:             pdo_sqlite
        #path:               '%env(resolve:DATABASE_URL)%'
        path:               '%kernel.project_dir%/var/db/data.db'
        memory:             true
        #dbname:               database
        #host:                 localhost
        #port:                 1234
        #user:                 user
        #password:             secret

        # if the url option is specified, it will override the above config
        #url:                  mysql://db_user:db_password@127.0.0.1:3306/db_name
        # the DBAL driverClass option
        #driver_class:         App\DBAL\MyDatabaseDriver
        # the DBAL driverOptions option

        #path:                 '%kernel.project_dir%/var/data/data.sqlite'
        #memory:               true
        #unix_socket:          /tmp/mysql.sock
        # the DBAL wrapperClass option
        #wrapper_class:        App\DBAL\MyConnectionWrapper
        charset:               utf8mb4
        logging:               '%kernel.debug%'
        servicename:           App\DBAL\SQLitePlatform
        
        #types:
        #    custom: App\DBAL\MyCustomType
        #url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\SQLitePlatform: identity
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        controller_resolver:
            auto_mapping: false
        #auto_generate_proxy_classes: '%kernel.debug%'

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
